@import './selected_color_scheme';
@import '~case-web-ui/build/scss/helpers/spacing.scss';
@import '~case-web-ui/build/scss/helpers/forms.scss';
@import '~case-web-ui/build/scss/helpers/custom_range.scss';
@import '~case-web-ui/build/scss/helpers/navbar.scss';
@import '~case-web-ui/build/scss/helpers/borders.scss';
@import '~case-web-ui/build/scss/helpers/date_input.scss';
@import '~case-web-ui/build/scss/helpers//typography.scss';
@import '~case-web-ui/build/scss/helpers/utilities.scss';

@include datepicker_classes($theme-colors);

// ---------------------------------------------
// Other:
// ---------------------------------------------
$enable-rounded: false !default;
$nav-tabs-link-active-color: white;
$nav-link-color: white;
$offcanvas-horizontal-width: 200px;

.captcha-badge-alt {
  color: map-get($theme-colors, 'grey-7');
  & a {
    color: #000;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.min-h-478 {
  @media (min-width: 768px) {
    min-height: 478px;
  }
}

.chart-center {
  @media (min-width: 990px) {
    margin-left: 22.5%;
  }
}

// NOTE: fix slider on firefox
.form-range {
  z-index: 1;
  position: relative;
}

.cwsa-icon {
  display: block !important;
  height: 60px;
  width: 60px;
  display: inline;
  background-image: url('../assets/images/logo.png');
  background-size: cover;
}

.offcanvas {
  .nav-link {
    min-width: auto !important;
    .cwsa-icon {
      margin: 0 auto 20px auto !important;
    }
  }
}

.nav-link {
  height: auto;
  &.active {
    background-color: map-get($theme-colors, 'primary') !important;
    text-decoration-thickness: 5px;
    color: white !important;
  }
  &:focus:not(.active),
  &:hover:not(.active) {
    background-color: map-get($theme-colors, 'primary') !important;
  }
  &.active:hover {
    background-color: map-get($theme-colors, 'primary') !important;
  }
}

.loading-placeholder {
  background-color: white !important;
  &.loading-page {
    .spinner-border {
      display: none;
    }
  }
}

.coughwatch {

  h1 {
    font-size: 2em;
  }

  .navbar {
    div {
      align-items: center !important;
    }
  }

  .nav-link {
    font-size: 1.15em;

    &.home-link {
      display: flex;
      align-items: center;
      padding-left: 0px;

      .cwsa-icon {
        margin: 0 50px 0 0px !important;
        display: inline;
      }
    }
  }

  ul.nav {
    align-items: center;
  }

  .teaser-text {
    h4 {
      font-weight: bold;
    }
  }
}
@import '~case-web-ui/build/scss/iconfonts';
@import '~bootstrap/scss/bootstrap.scss';
